//  *********************************************************************
//  =Content
//
//  Author : @douglasdeodato
//  Project: douglasdeodato.com
//  Date   : 29/08/2016
//  Version: package.json
//  *********************************************************************/

.fa-extra {
    color: $black;
    font-size: 13.125em !important;
}

.heart {
  font-size: 11em;
  line-height: 0.13em;
  margin-bottom: 0.25em;
  color: $white;
  .fa {
    font-size: 0.85em !important;
  }
}
