//  *********************************************************************
//  =Footer
//
//  Author : @douglasdeodato
//  Project: douglasdeodato.com
//  Date   : 29/08/2016
//  Version: package.json
//  *********************************************************************/

footer {
  background-color: $footer;
  height: 190px;
  padding: 32px;
  .fa {
    color: $white;
    font-size: 2.525em !important;
  }
}
