/*********************************************************************
* 	=Footer 
*
* 	Author: douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/

footer {
  background-color: $footer;
    height: 190px;
  padding: 32px;
  // margin-top: 4%;

  .fa {
  	  color: $white;
  	  font-size: 2.525em !important;


  }
}