//  *********************************************************************
//  =Header
//
//  Author : @douglasdeodato
//  Project: douglasdeodato.com
//  Date   : 29/08/2016
//  Version: package.json
//  *********************************************************************/

ul {
  float: right;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  width: 31%;
  li {
    float: left;
    margin-left: 5%;
  }
}
