/*********************************************************************
* 	=Header 
*
* 	Author: douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/

ul {
	 float:right;
	 padding: 15px 15px;
     font-size: 18px;
     line-height: 20px;
     width: 31%;

	 li {
	 	float: left; 
	 	margin-left: 5%;

	 }
}