//  *********************************************************************
//  =Index
//
//  Author : @douglasdeodato
//  Project: douglasdeodato.com
//  Date   : 29/08/2016
//  Version: package.json
//  *********************************************************************/

.col-md-6 {
  margin-top: 2%;
  text-align: center;
  padding: 20px;
}

.container {
  width: 100%;
}

.row:nth-child(2) {
  background-color: $white;
}

.row:nth-child(1) {
  background-color: $body;
}
