/*********************************************************************
* 	=Base 
*
* 	Author: douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/


//Golden Rule:  
//100% = 16px  browsers default
//21px ÷ 16px = 1.5em



html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    color:#565a5c;
    background-color: $white;
    font: normal normal 100%/1.5em "enriqueta";
     
}

ul {list-style-type: none;}

h4 {
 
  text-transform: uppercase;
  color: $white;
  font-size: 0.875em;
  font-weight: bold;
}

h1,h2 {
	color:$h1;
}

p {
	color:$white;
	text-align:center;
	font-size:1.1875em;
}

a:hover {
	border: none !important;
	text-decoration: none !important;
}