/*********************************************************************
* 	Media Query » screen equal or less than 1280px 
*
* 	Author: douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/



@media screen and (max-width: 1280px)  {

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{

	margin-left:-15px;
}

.col-md-6 {
  margin-top: 3%;
}


} /*/mediaquery*/