/*********************************************************************
* 	Media Query » screen equal or less than 320px
*
* 	Author: douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/


@media screen and (max-width: 320px) {
.heart {
  font-size: 8em;
}

footer {
  padding: 0px;
}


} /*/mediaquery*/





