/*********************************************************************
* 	Media Query » screen equal or less than 480px 
*
* 	Author: douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/

@media screen and (max-width: 480px) {

.heart .fa {
  font-size: 0.69em !important;
}


} /*/mediaquery*/





