/*********************************************************************
* 	Media Query » screen equal or less than 960px 
*
* 	Author: douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/

@media screen and (max-width: 960px)  {

	footer {

		  height: auto;
	}

} /*/mediaquery*/