/*********************************************************************
/*  =menu
*********************************************************************/
.menu {
  background-color: #659ec2;
  color: white; }
  .menu a {
    float: left;
    text-decoration: none;
    color: white;
    padding: 10px 10px; }
  .menu a:hover {
    background-color: #3c81ad; }
