/*********************************************************************
* 	=Colors 
*
* 	Author: douglasdeodato
* 	Site: lovelycss.com
* 	Date : 07/07/2015
* 	version: 0.1  
*********************************************************************/


/*********************************************************************
*  =legend    
*********************************************************************/

$white:#fff;
$black:#000;
$body:#208bbf;
$footer:#222222;
$h1:#6abbd8;